<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>车改联盟.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAF86ED21D1581C3000790D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAF86EEB1D1581C3000790D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAF86EF61D1581C3000790D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
